{
  "version": 3,
  "configurePresets": [
    {
      "name": "custom-fast",
      "inherits": "fast",
      "cacheVariables": {
        "POST_BUILD_COPY_PLUGIN": true,
        "COPY_PLUGIN_BASE_PATH": "D:/path/to/mods/ROCK_Wall_Climbing",
        "COMMON_LIB_F4VR_PATH": "D:/path/to/PROJECT_ROCK_V2/libraries_and_tools/CommonLibF4VR",
        "ROCK_SOURCE_INCLUDE_DIR": "D:/path/to/PROJECT_ROCK_V2/main_projects/ROCK/src"
      }
    },
    {
      "name": "custom-tests",
      "inherits": "tests",
      "cacheVariables": {
        "COMMON_LIB_F4VR_PATH": "D:/path/to/PROJECT_ROCK_V2/libraries_and_tools/CommonLibF4VR",
        "ROCK_SOURCE_INCLUDE_DIR": "D:/path/to/PROJECT_ROCK_V2/main_projects/ROCK/src"
      }
    }
  ]
}
